*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    background-color: aqua;
}
main{
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: blue;
}
footer{
    display: flex;
    height: 5vh;
    width: 100%;
    background-color: blueviolet;
}