/* CSS Básico para que la página no quede mal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #63458A;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    background-color: #B288C0;
    width: 100%;
    height: 70vh;
    overflow: auto;
}
/* Clase botones para darle un pequeño formato a nuestros botones */
.botones{
    border-radius: 2px;
    background-color: #E4B7E5;
    color: black;
    width: 15vw;
    text-decoration: solid;
    font-size: 20px;
    height: 5vh;
}
footer{
    display: flex;
    background-color: #63458A;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}